{% include "base.html" %}


<h1 class="bd-title" id="content">Upcoming seminars</h1>

{% block content %}

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Institute</th>
            <th scope="col">Host</th>
            <th scope="col">Seminar date</th>
        </tr>
    </thead>
    <tbody>
        {% for seminar in upcoming_seminars %}
        <tr>
            <th scope="row"><a href="/seminar/{{ seminar.id }}">{{ seminar.start_datetime.strftime('%A, %B %d %I:%M %p') }}</a></th>
            <td>{{ seminar.institution }}</td>
            <td>(None)</td>
            <td>(TBS)</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<h1 class="bd-title">Next 10 unscheduled seminar blocks</h1>

<ul>
    {% for seminar in unscheduled_seminar_blocks %}
        <li><a href="/seminar/{{ seminar.id }}">{{ seminar.start_datetime.strftime('%A, %B %d %I:%M %p') }}</a></li>
    {% endfor %}
</ul>


{% endblock %}
